/**
 * Style sheets
 *
 * @package     local_mooring
 * @author      Rémi Lefeuvre
 * @copyright   (C) Rémi Lefeuvre 2016
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

/* local header */
body.vital header.local div.title {
    background-color: #718da3;
}

body.vital header.local div.title h2 {
    margin-bottom: 0;
    padding: 15px;
    color: white;
}

body.vital header.local div.title p {
    margin-bottom: 0;
    padding: 0 0 15px 15px;
    color: white;
    font-weight: bold;
}

body.vital header.local .navbar-default,
body.vital header.local .navbar-right {
    background-color: #b0bdc6;
    min-height: 0;
    border-radius: 0;
    border: none;
}

body.vital header.local .navbar-nav {
    margin: 0px;
}

body.vital header.local .navbar-nav a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

body.vital header.local .navbar-nav a:focus,
body.vital header.local .navbar-nav a:hover {
    background-color: #718da3;
    color: white;
}

body.vital header.local {
    margin-bottom: 20px;
}

/* tables */
td[data-field] {
    cursor: pointer;
}

body.vital table {
    border-collapse: separate;
    border-spacing: 2px;
}

body.vital th {
    text-align: center;
}

body.vital th,
body.vital td {
    background-color: #dbe3ff;
    font-weight: bold;
}

body.vital .table-responsive th,
body.vital .table-responsive td {
    white-space: normal !important;
}

body.vital tr:hover td {
    background-color: #b0bdc6 !important;
}

body.vital thead {
    font-family: "LuckiestGuy",Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
    color: #46494D;
    text-shadow: 0px 1px 0px #FFF;
    font-size: 24px;
}

/* old lines */
div[id|="modal"] .alert {
    padding-bottom: 9px;
    padding-top: 9px;
}

.progress:last-child,
.alert:last-child {
    margin-bottom: 0px;
}

button,
input[type="button"] {
    margin: 0px;
}

.modal-backdrop {
    z-index: 2001;
}

.modal {
    z-index: 2002;
}

#page-header {
    display: none;
}